@font-face {
  font-family: 'Avro';
  src: url(fonts/Arvo-Regular.ttf);
}

@font-face {
  font-family: 'AvroItalic';
  src: url(fonts/Arvo-Italic.ttf);
}

input[type=button] {
  font-family: Avro;
  font-size: 16px;
}

html, body {
  font-family: Avro;
  height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f0e8;
}

.D2 {
  font-family: AvroItalic;
}

#lightbulb {
  transition: transform 0.1s ease-in-out;
  transform: rotate(-10deg);
}

#lightbulb.on {
  transform: rotate(10deg);
}


a {
  color: grey;
}
